@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&display=swap');

* {
    padding: 0 ;
    margin: 0;
    font-family: 'Encode Sans', sans-serif;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    user-select: none;
}

.ui {
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 162, 255, 0.3);
    display: none;
    z-index: 0;
}

.inventory {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1550px;
    height: 600px;
}

#playerInventory {
    width: 625px;
    height: 600px;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
}

#controls {
    width: 300px;
    height: 600px;
    float: left;
    position: relative;
    left: 0;
    top: 0;
}

#otherInventory {
    width: 625px;
    height: 600px;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
}

#count {
    border: none;
    outline: none;
    font-size: 18px;
}

#search {
    display: none;
    border: none;
    outline: none;
    font-size: 12px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.slot {
    float: inline-start;
    width: 110px;
    height: 110px;
    background-color: rgba(0, 162, 255, 0.3);
    margin: 7px 7px 7px 7px;
    position: relative;
    border-radius: 8px;
}

#playerInventory > .slot:nth-child(1):after,
#hotbar > .slot:nth-child(1):after {
	top: 0;
	left: 0;
	margin: 0 auto;
	position: absolute;
	content: '1';
	height: 15px !important;
	width: 15px !important;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 14px;
	vertical-align: middle;
	background-color: rgba(0, 162, 255, 0.3);
	color: rgb(255, 255, 255);
	text-shadow: none;
	outline-offset: -1px;
}

#playerInventory > .slot:nth-child(2):after,
#hotbar > .slot:nth-child(2):after {
	top: 0;
	left: 0;
	margin: 0 auto;
	position: absolute;
	content: '2';
	height: 15px !important;
	width: 15px !important;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 14px;
	vertical-align: middle;
    background-color: rgba(0, 162, 255, 0.3);
	color: rgb(255, 255, 255);
	text-shadow: none;
	outline-offset: -1px;
}

#playerInventory > .slot:nth-child(3):after,
#hotbar > .slot:nth-child(3):after {
	top: 0;
	left: 0;
	margin: 0 auto;
	position: absolute;
	content: '3';
	height: 15px !important;
	width: 15px !important;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 14px;
	vertical-align: middle;
	background-color: rgba(0, 162, 255, 0.3);
	color: rgb(255, 255, 255);
	text-shadow: none;
	outline-offset: -1px;
}

#playerInventory > .slot:nth-child(4):after,
#hotbar > .slot:nth-child(4):after {
	top: 0;
	left: 0;
	margin: 0 auto;
	position: absolute;
	content: '4';
	height: 15px !important;
	width: 15px !important;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 14px;
	vertical-align: middle;
	background-color: rgba(0, 162, 255, 0.3);
	color: rgb(255, 255, 255);
	text-shadow: none;
	outline-offset: -1px;
}

#playerInventory > .slot:nth-child(5):after,
#hotbar > .slot:nth-child(5):after {
	top: 0;
	left: 0;
	margin: 0 auto;
	position: absolute;
	content: '5';
	height: 15px !important;
	width: 15px !important;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 14px;
	vertical-align: middle;
	background-color: rgba(0, 162, 255, 0.3);
	color: rgb(255, 255, 255);
	text-shadow: none;
	outline-offset: -1px;
}

.slot:hover {
    background-color: rgba(0, 162, 255, 0.3);
}

.item {
    width: 103px;
    height: 103px;
    background-size: 80px;
    background-position: 70% 75%;
    background-repeat: no-repeat;
}

.item-name {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    z-index: 500;
    font-size: 9px;
    padding: 2px 0px;
    border-bottom-right-radius: 30px;
}   

.item-name-bg {
    width: 100%;
    width: 167px;
    height: 20px;
    position: absolute;
    bottom: 0;
}

.ui-draggable-dragging .item-name,
.ui-draggable-dragging .item-count {
    display: none;
}

.item-count {
    position: absolute;
    top: 0;
    text-align: right;
    right: 30px;
    width: 114px;
    height: 20px;
    z-index: 500;
    font-size: 8px;
}

.item-action {
    top: 0;
	left: 0;
	margin: 0 auto;
	position: absolute;
	height: 15px !important;
	width: auto;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	line-height: 14px;
	vertical-align: middle;
	background-color: rgba(0, 162, 255, 0.466);
	color: rgb(255, 255, 255);
	text-shadow: none;
	outline: 1px solid rgba(0, 162, 255, 0.3);
	outline-offset: -1px;
    padding: 2px;
}

.controls-div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.control {
    width: 150px;
    height: 40px;
    background-color: rgba(0, 162, 255, 0.3);
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    border-radius: 8px;
}

.control.disabled {
    background-color: rgba(0, 162, 255, 0.3);
}

.hoverControl {
    background-color: rgba(0, 162, 255, 0.473);
}

#playerInventory::-webkit-scrollbar-track,
#otherInventory::-webkit-scrollbar-track {
    background-color: none;
    border: none;
}

#playerInventory::-webkit-scrollbar,
#otherInventory::-webkit-scrollbar {
   width: 0px;
}

#playerInventory::-webkit-scrollbar-thumb,
#otherInventory::-webkit-scrollbar-thumb {
	background-color: rgba(0, 162, 255, 0.3);
	border-radius: 8px;
}

#info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

#playerInfo, #otherInfo {
    display: none;
    color: rgb(204, 37, 37);
    font-size: 18px;
    width: 625px;
}

#otherInfo {
    text-align: right;
}

#progbar {
    display: flex;
    background: rgba(0, 162, 255, 0.3);
	width: 76%;
	height: 8px;
    margin-top: 1px;
    margin-left: 33px;

}


#progbar-value {
	background: #ffae00;
    box-shadow: 0 0 10px #ff110065;
	border: 0px;
	border-radius: 8px;
    height: 8px;

}

#hotbar {
	height: 110px;
	min-width: 110px;
	width: fit-content;
	position: absolute;
	left: 50%;
	bottom: 3%;
	transform: translate(-50%, 0%);
}

#notifications {
	height: 110px;
	min-width: 110px;
	width: fit-content;
	position: absolute;
	left: 50%;
	bottom: 15%;
	transform: translate(-50%, 0%);
}

#description {
    display: none;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 800px;
    text-shadow: 1px 1px 10px rgba(0, 162, 255, 0.3);
}

@media (max-width: 1500px) {
    .inventory {
        width: 1300px;
    }

    #playerInventory {
        width: 550px;
    }

    #controls {
        width: 200px;
    }

    #otherInventory {
        width: 550px;
    }
}

@media (max-width: 1300px) {
    .inventory {
        width: 1000px;
    }

    #playerInventory {
        width: 425px;
    }

    #controls {
        width: 150px;
    }

    #otherInventory {
        width: 425px;
    }
}